
{% load static %}
{% include 'partials/_css.html' %}
{% block maincontent %}

{% comment %} {% include 'partials/_header.html' %} {% endcomment %}

<link rel="stylesheet" href="{% static 'amadeuspro/css/style_hotel.css' %}">


        <!-- CONTENT -->
    <div class="flightback">
        <div  class="content">
          
          <div  class="container text-center">

          <div class="col-md-8 col-md-offset-2">
          <div class="card" style="position:absolute; inset-block-start:50%; inset-inline-start:50%; transform: translate(-50%, -50%); inline-size:100%; block-size:50%; margin-block-start: 20%">
            <div class="card-title colorTransparent">
              <a class='pull-right text-info' href="{% url 'index' %}"><i class="fa fa-3x fa-home"></i></a>
             </div>
           
             {% if error %}
                  <p class="erreur-password">{{error}}</p>
                {% endif %}
             <div class="card-body colorTransparent">
                <form style="margin-block-start:50px;" method="POST" action="{% url 'seConnecter' %}"  >
                  {% csrf_token %}
                  <div class="form-group">
                    <label class="font-weight-bold "><i class="fa fa-envelope fa-3px"></i>Email</label>
                    <input type="text" name="User_Email" value="" class="form-control" required >
                  </div>
                  <br>
                  <div class="form-group">
                    <label class="font-weight-bold"><i class="fa fa-lock fa-3px"></i>Mot de Passe</label>
                    <input type="password" name="User_Password" class="form-control" required>
                  </div>
                  <br>
                  <div class="text-center">
                    <button style="margin-block-start:30px;"  type="submit" class="btn btn-danger btn-lg" name="">Se connecter</button>
                  </div>
               </form>
               <span>Pas encore Membre ?<span class="text-info"> <a href="{% url 'inscription' %}">Inscrivez-vous!</a> </span></span>
          </div>
          <div class="card-footer colorTransparent text-light">BitMasters / 2023</div>
        </div>
      </div>
    </div>
    </div>  
  </div>

{% include 'partials/_js.html' %}
<script src="{% static 'amadeuspro/js/app.js' %}"></script>
{% endblock maincontent %}