{% load static %}

<link href="{% static 'amadeuspro/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/card.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/color.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'amadeuspro/images/fav.png' %}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="{% static 'amadeuspro/css/style.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'amadeuspro/DataTables/datatables.min.css' %}">