{% load static %}
<link href="{% static 'amadeuspro/css/style.css' %}" rel="stylesheet">

<div class="site-header ">
  <!-- <div class="top-bar"> -->
<!--     <div class="container"> -->
  {% comment %} <div class="nav-logo-area"> {% endcomment %}
          <nav class="navbar navbar-default">
            <div class="navbar-header ">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                  navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                  class="icon-bar"></span> </button>
              <a class="navbar-brand" href="{% url 'indexpage' %}"><!-- <img src="{% static 'amadeuspro/images/logo.png' %}"
                  alt=""> --><h6 class="masterTitle"><span class="text-success">Bit</span><span class="text-info">Masters</span></h6></a> </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                <div class="dropdown">
        
                  <button style='margin-inline-end: 40px;border-radius:35px;' type="button" class="btn btn-danger dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                    <h4 class='text-light'><i class='fa fa-user'></i> {{ user.username }}</h4>
                  <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{% url 'voirereservations' user.id %}">Mes reservations</a>
                  </li>
                  <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{% url 'monProfile' user.id  %}">Mon Profil</a>
                  </li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{% url 'seDeconnecter' %}">Se Deconnecter</a>
                  </li>
                  </ul>
                  </div>
                </li>
                {% comment %} <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Logout</ul></a>
                </li> {% endcomment %}
              </ul>
                {% else %} 
                <ul class="nav navbar-nav navbar-right">
                  <li><a class="inscription" href="{% url 'sInscrire' %}">Creer Compte</a></li>
                  <li><a class="connection"  href="{% url 'seConnecter' %}"> <i class='fa fa-user'></i>Connexion</a></li>
                  <li> <a id="menu-toggle" href="#" class="toggle"><img src="{% static 'amadeuspro/images/bars.png' %}"
                        alt=""></a> </li>
                </ul>
                {% endif %} 

             

                <div class="menubar">
                <ul class="nav navbar-nav text-light">
                <li><a href="{% url 'indexpage' %}"><i class="fa fa-2x fa-home"></i><br>  Home</a></li>
                <li><a href="{% url 'choixvol' %}"><i class="fa fa-2x fa-plane"></i><br>  Vols</a></li>

                <li><a href="#"><i class="fa fa-2x fa-bus"></i><br>  Autos</a></li>
                <li><a href="#"><i class="fa fa-2x fa-hotel"></i><br>  Hotel</a></li>

                <li><a href="{% url 'contact' %}"><i class="fa fa-2x fa-phone"></i><br>Contact</a></li>
              </ul>
              </div>
              </div>
            {% comment %} </div> {% endcomment %}
            <!-- /.navbar-collapse -->
          </nav>
</div>


