{% extends 'base2.html' %}
{% load static %}
{% block maincontent %}

<!--inner banner-->

<link href="{% static 'amadeuspro/css/style.css' %}" rel="stylesheet">
<link href="{% static 'amadeuspro/css/style_hotel.css' %}" rel="stylesheet">

<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Service de Reservation de Chambres</h1>
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Acceuil</a></li>
          <li class="active">Hotel</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->


<!--Main Content Start-->
<div class="container-fluid">


<div class="col-md-12">
<div class="main-content padding-0">
  <section class="appointment-form zoneRechercheVol brad">
    <form class=''>
      <br><br>
        <div class="row">
             <div class="col-md-2">
               <h3> Information</h3>
              </div>
         
          <div class="col-md-2 form-group align-items-start flex-column">
                        <label for="origin" class="d-inline-flex">Pays</label>
                        <select class="form-select form-control" id="pays">
          
                            <option value="" desabled selected >Pays</option>
                            <option value="option2">Sénégal</option>
                            <option value="option3">Paris</option>
                         </select>
                         
                
          </div>

          <div class="col-md-2 form-group align-items-start flex-column">
                        <label for="depart" class="d-inline-flex">Ville</label>
                        <select class="form-select form-control" id="pays">
          
                          <option value="" desabled selected >Ville</option>
                          <option value="option1">Dakar</option>
                          <option value="option2">Thiès</option>
                          <option value="option3">Saint Louis</option>
                          <option value="option1">Mbour</option>
                          <option value="option2">Kaolack</option>
                       </select>
                        <div id="toLocationData"></div>
            </div>

          <div class="col-md-2 form-group align-items-start flex-column">
                        <label for="departure-date" class=" d-inline-flex">Personne</label>
                        <select class="form-select form-control" id="type_personne">
          
                          <option value="" desabled selected >Type Personne</option>
                          <option value="option1">Enfants</option>
                          <option value="option2">Adultes</option>
                          <option value="option3">vieux</option>
                        </select>
            </div>
            <div class="col-md-2 form-group align-items-start flex-column">
              <center><button class="btn btn-info " onclick="handleFindFlight()">Rechercher</button></center>
            </div>
            <br><br>
          </div>
        </div>
    </form>
  </section>
</div> 
</div>


<div class="container-fluid">

  <div class="col-md-10 col-md-offset-1">
  {% for chambre in object_list %}

  <div class="col-md-3">
  <div class="card mtop30">

    <div class="card-body img-chambre d-inline-flex">
      <img src="{% static chambre.3 %} " class='img img-responsive' style='inline-size:900px; block-size:300px;'/>
    </div>

    <div class="card-footer col-md-offset-1">
        <div class="nom-chambre"><span class="les-titres">Hotel: </span>{{ chambre.4 }}</div>
        <div class="nom-chambre"><span class="les-titres">nom chambre : </span>{{ chambre.0 }}</div>
        <div class="nom-chambre"><span class="les-titres">prix chambre : </span>{{ chambre.2 }} F 
        <button type="button" name="reserver" value="RESERVER" class="btn btn-info pull-right ">  
            <a href="http://127.0.0.1:8000/hotel/reservation/"> RESERVER</a>
        </button>
      </div>
    </div>
    
    </div>
  </div>
  {% endfor %} 
  </div>


<div class="row">
  {% if is_paginated %}
  {% include 'partials/_pagination.html' %}
  {% endif %}
</div>

</div>


<br><br>



<script src="{% static 'amadeuspro/js/script.js' %}"></script>
  <script src="{% static 'amadeuspro/js/scriptvol.js' %}"></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>

<!--Main Content End-->
{% endblock maincontent %}