{% extends 'base2.html' %}

{% block maincontent %}
<!--inner banner-->
<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
       <center><h1>Reserver et Payer</h1></center> 
      </div>
      <div class="col-md-5">
        <ol class="breadcrumb">
          <li><a href="{% url 'index' %}">Acceuil</a></li>
          <li class="active">Reserver</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--inner banner End-->

<!--Main Content Start-->

<div class="container-fluid" >
    <div class="col-md-12"><br/>
    <center><h3>Payer Votre Réservation Avec Nos Partenaire <i class="fa ga-envelope"></i> </h3></center>  
    </div><br/><br/>


  
<!--inner banner End-->

<!--Main Content Start-->
<div class="main-content">
  <div class="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          {% if messages %}
          <div class="alert alert-success" id="alert-msg">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
          </div>
          {% endif %}
          <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div class="contact-form">
              <div class="col-md-12">
                <h3>Information personnelle <i class="fa ga-envelope"></i> </h3>
              </div><br/>
              <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Nom Utilisateur " name="name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Email " name="email" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Telephone " name="phone" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Adresse" name="subject">
                </div>
              </div>
              
              
            </div>
          </form>
        </div>
        <div class="col-md-5">
          <form action="{% url 'contact' %}" method="post">
            {% csrf_token %}
            <div class="contact-form">
              <div class="col-md-12">
                <h3>Information Réservation <i class="fa ga-envelope"></i> </h3>
              </div><br/>
              <div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Montant à payer " name="name" required>
                  
                </div>
              </div>
              <div class="col-md-6">
                  <div class="input-group">
                    
                        <select class="card-body well">
                            <option value="Orange money">FCFA</option>
                            <option value="Wave">EUROS</option>
                            <option value="Free money"> DOLLAR</option>

                        </select>
                  </div>
              </div>
              <div class="col-md-6">
                    <div class="input-group">
                      
                          <select class="card-body well">
                              <option value="Orange money">Orange money</option>
                              <option value="Wave">Wave</option>
                              <option value="Free money">Free money</option>

                          </select>
                    </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="Date de sortie" name="subject">
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="input-group text-center">
                  <input type="submit" class="submit-btn" value="Payer & Envoyer">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main Content End-->
{% endblock maincontent %}