option {
    width: 100px;
}

.liste-chambre {
    margin-top: 2%;
    width: 100%;
    display: grid;
    margin-left: 70%;
    

}

.img-chambre>img {
    width: 100%;
    height: 100%;
  border-radius:10px;
  margin-left: 30px;
  
}

.une-chambre {
    display: block;
    flex-direction: column;
    /* margin-left: 10%; */
}

.nom-chambre {
    color: black;
    size: 12px;
    font-style: oblique;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.les-titres {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

.btn-reserver {
    padding: 10px 20px;
    font-size: 16px;
    border: none;

    color: #ffffff;
    border-radius: 5px;
}

.btn-reserver:hover {
    background-color: black;
}

.header{
  background-color: #074e7e;
  height: 600%;
  width: 100px;
}

.erreur-password{
    text-align: center;
    color: red;
    font-weight: bold;
}

.btn-recherche-chambre{ 
    margin-left: 20px;
}

.pagination-img{
    font-weight: bold;
    margin-top: auto;
    justify-content: space-between;
    font-size: large;
    margin-left: auto;
}

.icon-des-partenaire{

   border-radius: 50px;
}