
{% extends 'base2.html' %}
{% load static %}
{% block maincontent %}
<link href="{% static 'amadeuspro/css/style_voiture.css' %}" rel="stylesheet">
<img src="/static/amadeuspro/images/auto0.jpg" alt="" class="auto1"> 
<div class="texte"><p class="texte">Recevez nos meilleurs offres pour vos locations de voitures</p></div>
<div class="rectangle"><p class="text">Annulation gratuite</p></div>
<div>
<div class="barr">
    <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Voitures</a></li>
        <li><a href="#">Réservation</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>


<!-- <main>
<section id="search">
    <h2>Recherche de Voitures</h2>
    <form class="formulaire">
        <input type="text" placeholder="Lieu de prise en charge">
        <input type="text" placeholder="Date et heure de prise en charge">
        <input type="text" placeholder="Lieu de retour">
        <input type="text" placeholder="Date et heure de retour">
        <input type="submit" value="Rechercher">
    </form>
</section>

<section id="featured-cars">
    <h2>Voitures en Vedette</h2>
    <div class="car">
        <img src="auto3.jpeg" alt="Voiture 1">
        <h3>Voiture 1</h3>
        <p>Description de la voiture 1</p>
        <a href="#">Réserver</a>
    </div>
    <div class="car">
        <img src="auto5.jpg" alt="Voiture 2">
        <h3>Voiture 2</h3>
        <p>Description de la voiture 2</p>
        <a href="#">Réserver</a>
    </div>
</section>
</main>

<footer>
<p>&copy; 2023 Location de Voitures. Tous droits réservés.</p>
</footer> -->
<!-- </div> -->
{% endblock maincontent %}